{% extends 'layout.html' %}
{% block body %}

<div class="container pt-1">
    <div class="row justify-content-center">
        <!-- Confirmation Messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {% if 'vacío' in message or 'vacío' in message %}
        {% set alert_status = 'alert-danger' %}
        {% else %}
        {% set alert_status = 'alert-success' %}
        {% endif %}
        <div class="alert {{alert_status}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/add_doctors" method="post" class="card card-lg" enctype=multipart/form-data>
            <!-- Datos personales del Doctor -->
            <label class="form-label fs-4 mt-1">Datos Personales</label>
            <div class="dropdown-divider"></div>
            <div class="row g-2 mt-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Nombre"
                            name="namedoctor" required onkeyup="this.value = this.value.toUpperCase();"> 
                        <label for="floatingInputGrid">Nombre *</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Apellidos"
                            name="lastnamedoctor" required onkeyup="this.value = this.value.toUpperCase();">
                        <label for="floatingInputGrid">Apellidos *</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Dni"
                            name="dnidoctor" required onkeyup="this.value = this.value.toUpperCase();" maxlength="8">
                        <label for="floatingInputGrid">DNI *</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select name="slGenero" class="form-select" id="dpGenero">
                            <option value="0" selected>Género</option>
                            <option value="1">Femenino</option>
                            <option value="2">Masculino</option>
                        </select>
                        <label for="slGenero">Elija su</label>
                    </div>
                </div>
            </div>
            <div class="row g-2 mt-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="date" name="birthday" id="floatingInputGrid" class="form-control" 
                            placeholder="Fecha" required/>
                        <label for="floatingInputGrid">Fecha de Nacimiento *</label>
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-floating">
                        <select name="slDepartmentBorn" class="form-select" id="dpDepartBorn">
                            <option value="0" selected>Departamento de Nacimiento</option>
                            {% for department in departments %}
                            <option value="{{department.0}}">{{department.1}}</option>
                            {% endfor %}
                        </select>
                        <label for="sldepartmentBorn">Elija su</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select name="slProvinceBorn" class="form-select" id="dpProvinceBorn">
                            <option value="0" selected>Provincia de Nacimiento</option>
                        </select>
                        <label for="slprovinceBorn">Elija su</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select name="slDistrictBorn" class="form-select" id="dpDistrictBorn">
                            <option value="0" selected>Distrito de Nacimiento</option>
                        </select>
                        <label for="sldistrictBorn">Elija su</label>
                    </div>
                </div>
            </div>
            <div class="row g-2 mt-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input autocomplete="false" type="text" class="form-control" id="floatingInputGrid"
                            placeholder="Teléfono Trabajo" name="workphonedoctor1" required
                            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                        <label for="floatingInputGrid">Teléfono Trabajo 1 *</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Teléfono Trabajo"
                            name="workphonedoctor2" required
                            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                        <label for="floatingInputGrid">Teléfono Trabajo 2 *</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Teléfono Personal"
                            name="personalphonedoctor"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                        <label for="floatingInputGrid">Teléfono Personal</label>
                    </div>
                </div>
            </div>
            <!-- end Datos personales -->

            <!-- Información de la ubicación laboral del doctor -->
            <label class="form-label fs-4 mt-2">Ubicación Laboral</label>
            <div class="dropdown-divider"></div>
            <!-- <div class="card-body row no-gutters align-items-center mt-2"> -->
            <div class="row g-2 mt-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select name="slDepartment" class="form-select" id="dpDepart">
                            <option value="0" selected>Departamento</option>
                            {% for department in departments %}
                            <option value="{{department.0}}">{{department.1}}</option>
                            {% endfor %}
                        </select>
                        <label for="sldepartment">Elija su</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select name="slProvince" class="form-select" id="dpProvince">
                            <option value="0" selected>Provincia</option>
                        </select>
                        <label for="slprovince">Elija su</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select name="slDistrict" class="form-select" id="dpDistrict">
                            <option value="0" selected>Distrito</option>
                        </select>
                        <label for="sldistrict">Elija su</label>
                    </div>
                </div>
            </div>
            <div class="row g-2 mt-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Dirección"
                            name="addressdoctor">
                        <label for="floatingInputGrid">Dirección</label>
                    </div>
                </div>
            </div>
            <!-- end Información de la ubicación -->

            <!-- Datos profesionales -->
            <label class="form-label fs-4 mt-2">Datos Profesionales</label>
            <div class="dropdown-divider"></div>
            <div class="container">
                <div class="row g-2 mt-2">
                    <div class="col-auto">
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" id="idCheckColegio" name="chbxColegiado">
                            <label class="form-check-label" for="gridCheck">
                                Colegiado
                            </label>
                        </div>
                    </div>
                    <div class="col-auto ms-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="idCodeColegio" placeholder="Código Colegiado" 
                            name="collegiatecodedoctor" disabled="disabled" required onkeyup="this.value = this.value.toUpperCase();">
                            <label for="floatingInputGrid">Código del Colegiado *</label>
                        </div>
                    </div>
                    <div class="col-auto ms-3">
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" id="idCheckCovid" name="chbxCovid">
                            <label class="form-check-label" for="gridCheck">
                                ¿Atiende pacientes Covid?
                            </label>
                        </div>
                    </div>
                    <div class="col-auto ms-3">
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" id="idCheckVih" name="chbxVih">
                            <label class="form-check-label" for="gridCheck">
                                ¿Atiende pacientes VIH?
                            </label>
                        </div>
                    </div>
                    <div class="col-auto ms-3">
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" id="idCheckLS" name="chbxLaborSocial">
                            <label class="form-check-label" for="gridCheck">
                                ¿Realiza labor social?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 mt-2">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select name="slYear" class="form-select" id="dpYear">
                                <option value="0" selected>Años de Experiencia?</option>
                                {% for i in range(15) %}
                                <option value="{{loop.index}}">{{loop.index}}</option>
                                {% endfor %}
                            </select>
                            <label for="slyear">Cuantos</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Trabajo Actual"
                                name="currentjobdoctor" required onkeyup="this.value = this.value.toUpperCase();">
                            <label for="floatingInputGrid">Trabajo Actual *</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 mt-2">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select name="slSpecialty1" class="form-select" id="dpSpecialty">
                                <option value="0" selected>Especialidad</option>
                                {% for especialidad in especialidades %}
                                <option value="{{especialidad.0}}">{{especialidad.1}}</option>
                                {% endfor %}
                            </select>
                            <label for="slspecialty1">Elija su</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Código RME"
                                name="codermedoctor1" required onkeyup="this.value = this.value.toUpperCase();">
                            <label for="floatingInputGrid">Código RME</label>
                        </div>
                    </div>
                </div>
                <div class="input-group mt-2">
                    <span class="input-group-text" id="basic-addon1"><i class="fab fa-facebook"></i></span>
                    <input type="text" class="form-control" placeholder="Link Facebook" aria-label="Facebook"
                        aria-describedby="basic-addon1" name="linkFace">
                </div>
                <div class="input-group mt-2">
                    <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i></span>
                    <input type="text" class="form-control" placeholder="Link Instagram" aria-label="Instagram"
                        aria-describedby="basic-addon1" name="linkInstagram">
                </div>
                <div class="input-group mt-2">
                    <span class="input-group-text" id="basic-addon1"><i class="fab fa-linkedin"></i></span>
                    <input type="text" class="form-control" placeholder="Link Linkedin" aria-label="Linkedin"
                        aria-describedby="basic-addon1" name="linkLinkedin">
                </div>

                <div class="row g-2 mt-2">
                    <div class="col-md">
                        <label for="formFile" class="form-label">Adjuntar CV <strong>(PDF)</strong></label>
                        <input class="form-control" type="file" id="formFileCV" name="cvdoctor">
                    </div>
                    <div class="col-md">
                        <label for="formFile" class="form-label">Subir Foto</label>
                        <input class="form-control" type="file" id="formFilePhoto" name="photodoctor">
                    </div>
                </div>
                <div class="row g-2 mt-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 100px" name="resumeProfessional" required></textarea>
                            <label for="floatingTextarea2">¿Cómo te podemos presentar?</label>
                        </div>
                    </div>
                </div>

                <div class="row g-2 mt-2">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select name="slPlan" class="form-select" id="dpYear">
                                <option value="0" class="fw-bolder" selected>Seleccione</option>
                                {% for plan in planes %}
                                <option value="{{plan.0}}" class="fw-bolder">{{plan.1}} S/.{{plan.2}}</option>
                                {% endfor %}
                            </select>
                            <label for="slyear">Qué plan te interesa?</label>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end datos profesionales -->

            <!-- Datos de cuenta -->
            <label class="form-label fs-4 mt-2">Crear cuenta</label>
            <div class="dropdown-divider"></div>
            <div class="row g-2 mt-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com"
                            name="emaildoctor" required>
                        <label for="floatingInputGrid">Correo Electrónico *</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña"
                            name="passworddoctor" required>
                        <label for="floatingPassword">Contraseña *</label>
                    </div>
                </div>
            </div>
            <!-- end datos de cuenta -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 mb-4">
                <button type="submit" class="btn btn-primary btn-lg me-md-2">Save</button>
                <a href="/" class="btn btn-danger btn-lg btn-cancelar">Cancel</a>
            </div>
        </form>
    </div>
</div>

{%endblock%}