<!-- Footer -->

<!-- <div class="d-flex justify-content-center">...</div> -->

<div class="d-flex justify-content-center bd-highlight mb-5" style="height: 200px;">
    <!-- <div class="mt-auto bd-highlight">
        <span style="font-size: 2.5em;">
            <a href="#" role="button" data-bs-toggle="button"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </span>
    </div> -->

    <div id="social-platforms">
        <a class="btn1 btn-icon btn-facebook" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
        <a class="btn1 btn-icon btn-twitter" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
        <a class="btn1 btn-icon btn-googleplus" href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
        <a class="btn1 btn-icon btn-linkedin" href="#"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a>
    </div>
</div>