<!-- Footer -->

<!-- <div class="d-flex justify-content-center">...</div> -->

<div class="d-flex justify-content-center bd-highlight mb-5">

    <div id="social-platforms">
        <a class="btn1 btn-icon btn-facebook" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
        <a class="btn1 btn-icon btn-twitter" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
        <a class="btn1 btn-icon btn-googleplus" href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
        <a class="btn1 btn-icon btn-linkedin" href="#"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a>
    </div>
</div>