{% extends 'layout.html' %}
{% block body %}

<div class="container pt-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form action="/search_specialization" method="post" class="card card-lg">
                <div class="card-body row no-gutters align-items-center mt-5">
                    <!-- <img src="{{url_for('static', filename='img/undraw_medicine_b1ol.svg')}}" class="img-fluid" alt="..."> -->
                    <img src="{{url_for('static', filename='img/undraw_medicine_b1ol.svg')}}"
                        class="col-md-6 rounded mx-auto d-block" alt="...">
                </div>

                <div class="card-body row no-gutters align-items-center mt-2">
                    <div class="col-auto">
                        <i class="fas fa-search h2"></i>
                        <!-- <i class="fab fa-sistrix h3 text-body"></i> -->
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input name="ipEspecializacion" class="form-control form-control-lg form-control-borderless"
                            type="search" placeholder="Buscar Especialización">
                    </div>
                    <!--end of col-->
                    <div class="col-lg-3">
                        <div class="form-floating">
                            <select name="slGenero" class="form-select" id="dpGenero">
                                <option value="0" selected>Genero</option>
                                <option value="1">Femenino</option>
                                <option value="2">Masculino</option>
                            </select>
                            <label for="sldistrict">Elija su Genero</label>
                        </div>
                    </div>
                    <!--end of col-->
                </div>

                <div class="card-body row no-gutters align-items-center mt-2">
                    <!--end of col-->
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="slDepartment" class="form-select" id="dpDepart">
                                <option value="0" selected>Departamento</option>
                                {% for department in departments %}
                                <option value="{{department.0}}">{{department.1}}</option>
                                {% endfor %}
                            </select>
                            <label for="sldepartment">Elija su Departamento</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="slProvince" class="form-select" id="dpProvince">
                                <option value="0" selected>Provincia</option>
                            </select>
                            <label for="slprovince">Elija su Provincia</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="slDistrict" class="form-select" id="dpDistrict">
                                <option value="0" selected>Distrito</option>
                            </select>
                            <label for="sldistrict">Elija su Distrito</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
                    </div>
                </div>

            </form>
        </div>
        <!--end of col-->
    </div>
</div>

{% endblock %}