{% extends 'layout.html' %}
{% block body %}

<div class="container pt-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form action="/search_specialization" method="post" class="card card-lg">
                <div class="card-body row no-gutters align-items-center mt-5">
                    <!-- <img src="{{url_for('static', filename='img/undraw_medicine_b1ol.svg')}}" class="img-fluid" alt="..."> -->
                    <img src="{{url_for('static', filename='img/undraw_medicine_b1ol.svg')}}"
                        class="col-md-6 rounded mx-auto d-block" alt="...">
                </div>

                <div class="card-body row no-gutters align-items-center mt-2">
                    <div class="col-auto">
                        <i class="fas fa-search h2"></i>
                        <!-- <i class="fab fa-sistrix h3 text-body"></i> -->
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input name="ipEspecializacion" class="form-control form-control-lg form-control-borderless"
                            type="search" placeholder="Buscar Especialización">
                    </div>
                    <!--end of col-->
                    <div class="col-lg-3">
                        <div class="form-floating">
                            <select name="slGenero" class="form-select" id="dpGenero">
                                <option value="0" selected>Genero</option>
                                <option value="1">Femenino</option>
                                <option value="2">Masculino</option>
                            </select>
                            <label for="sldistrict">Elija su Genero</label>
                        </div>
                    </div>
                    <!--end of col-->
                </div>

                <div class="card-body row no-gutters align-items-center mt-2">
                    <!--end of col-->
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="slDepartment" class="form-select" id="dpDepartSearch">
                                <option value="0" selected>Departamento</option>
                                {% for department in departments %}
                                <option value="{{department.0}}">{{department.1}}</option>
                                {% endfor %}
                            </select>
                            <label for="sldepartment">Elija su Departamento</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="slProvince" class="form-select" id="dpProvinceSearch">
                                <option value="0" selected>Provincia</option>
                            </select>
                            <label for="slprovince">Elija su Provincia</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="slDistrict" class="form-select" id="dpDistrictSearch">
                                <option value="0" selected>Distrito</option>
                            </select>
                            <label for="sldistrict">Elija su Distrito</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
                    </div>
                </div>

            </form>
        </div>
        <!--end of col-->
    </div>
</div>

{% include "footer.html" %}

<script>
    let department_search = document.getElementById('dpDepartSearch');
    let province_search = document.getElementById('dpProvinceSearch');
    let district_search = document.getElementById('dpDistrictSearch');

    department_search.onchange = function () {
        value_depart = department_search.value;
        if (value_depart != 0) {
            fetch('/selectProvince/' + value_depart).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '<option value="0" selected>Provincia</option>';
                    for (let province of data.provinces) {
                        optionHTML += '<option value="' + province.id + '">' + province.name_province + '</option>';
                    }
                    province_search.innerHTML = optionHTML;
                });
            });
        } else {
            cleanSelectProvinceSearch("S");
        }
        cleanSelectDistrictSearch("S");
    };

    province_search.onchange = function () {
        value_province = province_search.value;
        if (value_province != 0) {
            fetch('/selectDistrict/' + value_province).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '<option value="0" selected>Distrito</option>';
                    for (let district of data.districts) {
                        optionHTML += '<option value="' + district.id + '">' + district.name_district + '</option>';
                    }
                    district_search.innerHTML = optionHTML;
                });
            });
        } else {
            cleanSelectDistrictSearch("S");
        }
    };

    function cleanSelectProvinceSearch(dist) {
        provinceborn_select = document.getElementById('dpProvinceSearch');
        provinceborn_select.innerHTML = '<option value="0" selected>Provincia</option>';
    };

    function cleanSelectDistrictSearch(dist) {
        select = document.getElementById('dpDistrictSearch');
        select.innerHTML = '<option value="0" selected>Distrito</option>';
    };
</script>

{% endblock %}