{% extends 'layout.html' %}

{% block body %}

<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h3 text-body m-2"></i>
                        <!-- <i class="fab fa-sistrix h3 text-body"></i> -->
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search"
                            placeholder="Search Specialization">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-primary" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>

<!-- Estrellas de puntuación -->
<!-- <div class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i
    class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></div> -->
<!-- End -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">

                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search"
                            aria-label="Search">
                        <div class="input-group-append">
                            <span class="input-group-text red lighten-3" id="basic-text1"><i
                                    class="fas fa-search h3 text-grey" aria-hidden="true"></i></span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Search Specialization"
                            aria-label="Search Specialization" aria-describedby="button-addon2">
                        <a href="#" class="btn btn-lg btn-outline-primary">Search</a>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}