{% extends 'layout.html' %}

{% block body %}

<!--end of col-->
{% set cod_department = data['departamento'] | int() %}
{% set cod_provincia = data['provincia'] | int() %}
{% set cod_distrito = data['distrito'] | int() %}
{% set cod_genero = data['genero'] | int() %}

<div class="container-fluid navbar-light bg-light">
    <form action="/search_specialization" method="post">
        <div class="card-body row no-gutters align-items-center mt-1">
            <div class="col">
                <input name="ipEspecializacion" class="form-control form-control-lg form-control-borderless"
                    type="search" placeholder="Buscar Especialización" 
                    value="{{valueSpecialty}}">
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="slGenero" class="form-select" id="dpGenero">
                        <option value="0" selected>Genero</option>
                        {% for genero in generos %}
                        {% if genero.0 == cod_genero %}
                        <option value="{{genero.0}}" selected>{{genero.1}}</option>
                        {% else %}
                        <option value="{{genero.0}}">{{genero.1}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="sldistrict">Elija su Genero</label>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <select name="slDepartment" class="form-select" id="dpDepart">
                        <option value="0" selected>Departamento</option>
                        {% for department in departments %}
                        {% if department.0 == cod_department %}
                        <option value="{{department.0}}" selected>{{department.1}}</option>
                        {% else %}
                        <option value="{{department.0}}">{{department.1}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="sldepartment">Elija su Departamento</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="slProvince" class="form-select" id="dpProvince">
                        <option value="0" selected>Provincia</option>
                        {% for province in provinces %}
                        {% if province.0 == cod_provincia %}
                        <option value="{{province.0}}" selected>{{province.1}}</option>
                        {% else %}
                        <option value="{{province.0}}">{{province.1}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="slprovince">Elija su Provincia</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="slDistrict" class="form-select" id="dpDistrict">
                        <option value="0" selected>Distrito</option>
                        {% for district in districts %}
                        {% if district.0 == cod_distrito %}
                        <option value="{{district.0}}" selected>{{district.1}}</option>
                        {% else %}
                        <option value="{{district.0}}">{{district.1}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="sldistrict">Elija su Distrito</label>
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-lg btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="container pt-3">
    {% for doctor in doctors %}
    {% if doctor.4 == 2 %}
    {% set gen_doctor = 'Dr.' %}
    {% else %}
    {% set gen_doctor = 'Dra.' %}
    {% endif %}
    <div class="card w-75 border-primary shadow-lg mb-3 bg-white rounded" style="width: 18rem;">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="{{url_for('static', filename='img/logo.svg')}}" class="card-img-top" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{gen_doctor}} {{doctor.3}} {{doctor.4}}</h5>
                    <p class="card-text">{{doctor.16}}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link align-items-end">Another link</a>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for doctor in doctors %}
    {% if doctor.4 == 2 %}
    {% set gen_doctor = 'Dr.' %}
    {% else %}
    {% set gen_doctor = 'Dra.' %}
    {% endif %}
    <div class="card w-75 border-light text-dark bg-light mb-3" style="width: 18rem;">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="{{url_for('static', filename='img/logo.svg')}}" class="card-img-top" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-header">
                    <h5 class="card-title">{{gen_doctor}} {{doctor.3}} {{doctor.4}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{doctor.16}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="d-grid gap-2 justify-content-md-end">
                    <a class="btn btn-primary" href="/more-information/{{doctor.0}}" role="button">Mas Información</a>
                    <a class="btn btn-primary" href="/book-appointment/{{doctor.0}}" role="button">Sacar Cita</a>
                  </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- {% for k, v in data.items() %}
    <p>{{k}} -- {{v}}</p>
    {% endfor %} -->

{% endblock %}