{% extends 'layout.html' %}
{% block body %}

<!--end of col-->
{% set cod_department = data['departamento'] | int() %}
{% set cod_provincia = data['provincia'] | int() %}
{% set cod_distrito = data['distrito'] | int() %}
{% set cod_genero = data['genero'] | int() %}
{% set puntuacion = dataOrder | int() %}
{% set estrellas = dataStar | int() %}

<div class="container-fluid navbar-light bg-light">
    <form action="/search_specialization" method="post">
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <input name="ipEspecializacion" class="form-control form-control-lg form-control-borderless"
                    type="search" placeholder="Buscar Especialización" value="{{valueSpecialty}}">
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="slGenero" class="form-select" id="dpGenero">
                        <option value="0" selected>Genero</option>
                        {% for genero in generos %}
                        {% if genero.0 == cod_genero %}
                        <option value="{{genero.0}}" selected>{{genero.1}}</option>
                        {% else %}
                        <option value="{{genero.0}}">{{genero.1}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="sldistrict">Elija su</label>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <select name="slDepartment" class="form-select" id="dpDepartResult">
                        <option value="0" selected>Departamento</option>
                        {% for department in departments %}
                        {% if department.0 == cod_department %}
                        <option value="{{department.0}}" selected>{{department.1}}</option>
                        {% else %}
                        <option value="{{department.0}}">{{department.1}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="sldepartment">Elija Dep.</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="slProvince" class="form-select" id="dpProvinceResult">
                        <option value="0" selected>Provincia</option>
                        {% for province in provinces %}
                        {% if province.0 == cod_provincia %}
                        <option value="{{province.0}}" selected>{{province.1}}</option>
                        {% else %}
                        <option value="{{province.0}}">{{province.1}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="slprovince">Elija Prov.</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="slDistrict" class="form-select" id="dpDistrictResult">
                        <option value="0" selected>Distrito</option>
                        {% for district in districts %}
                        {% if district.0 == cod_distrito %}
                        <option value="{{district.0}}" selected>{{district.1}}</option>
                        {% else %}
                        <option value="{{district.0}}">{{district.1}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="sldistrict">Elija Dist.</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="slOrder" class="form-select" id="dpOrder">
                        <option value="0" {{'selected' if puntuacion==0 else '' }}>Puntuación</option>
                        <option value="1" {{'selected' if puntuacion==1 else '' }}>Mayor a menor</option>
                        <option value="2" {{'selected' if puntuacion==2 else '' }}>Menor a mayor</option>
                    </select>
                    <label for="slorder">Ordenar por</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="slFilterStar" class="form-select" id="dpFilterStar">
                        <option value="0" {{'selected' if estrellas==0 else '' }}>Estrellas</option>
                        {% for i in range(5) %}
                        <option value="{{i + 1}}" {{'selected' if estrellas==(i + 1) else '' }}>{{i + 1}}</option>
                        {% endfor %}
                    </select>
                    <label for="slfilterStar">Filtrar por</label>
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-lg btn-primary" type="submit">Filtrar</button>
            </div>
        </div>
    </form>
</div>

<div class="container pt-1">
    <div class="row justify-content-center">
        {% if rows_affected > 0 %}
        {% for doctor in doctors %}
        {% if doctor.6 == 2 %}
        {% set gen_doctor = 'Dr.' %}
        {% else %}
        {% set gen_doctor = 'Dra.' %}
        {% endif %}
        <div class="card card-lg w-75 border-primary shadow-lg mb-1 bg-white rounded" style="width: 18rem;">
            <div class="row g-0">
                <div class="col-md-3">
                    {% if doctor.6 == 2 %}
                    <img src="{{url_for('static', filename='img/doctor.svg')}}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="{{url_for('static', filename='img/doctora.svg')}}" class="card-img-top" alt="...">
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="card-title mb-3">{{gen_doctor}} {{doctor.3}} {{doctor.4}}</h5>
                            <small>
                                <span style="font-size: 1.1em; color: goldenrod;">
                                    {% set num = doctor.23 %}
                                    {% if num > 0.0 %}
                                    {% set int_part = "{:.2f}".format(num).split('.')[0] | int() %}
                                    {% set decimal_part = "{:.2f}".format(num).split('.')[1] | int() %}
                                    {% for star in range(int_part) %}
                                    <i class="fa fa-star"></i>
                                    {% endfor %}
                                    {% set semi = 1 if decimal_part >= 50 else 0 | int() %}
                                    {% if semi == 1 %}
                                    <i class="fas fa-star-half-alt"></i>
                                    {% endif %}
                                    {% for star in range(5-(int_part+semi)) %}
                                    <i class="fa fa-star-o"></i>
                                    {% endfor %}

                                    {% else %}
                                    {% for star in range(5) %}
                                    <i class="fa fa-star-o"></i>
                                    {% endfor %}
                                    {% endif %}
                                </span>
                            </small>
                        </div>
                        <p class="card-text">{{doctor.16}}</p>
                        <div class="mt-2">
                            <i class="fas fa-mobile-alt text-primary"></i><a href="#"
                                class="card-link ms-1">{{doctor.7}}</a>
                            <i class="fas fa-mobile-alt text-primary"></i><a href="#"
                                class="card-link ms-1 align-items-end">{{doctor.8}}</a>
                        </div>
                        <div class="mt-2">
                            <a href="#" class="btn btn-primary">Sacar Cita</a>
                            <a href="#" class="btn btn-primary align-items-end">Más Información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container pt-2">
            <div class="alert alert-warning" role="alert">
                <div class="card-body row no-gutters align-items-center">
                    <img src="{{url_for('static', filename='img/not_found_tristeza_2.png')}}"
                        class="col-md-4 rounded mx-auto d-block" alt="Not Found">
                </div>
                <h1 class="alert-heading text-center">Busqueda sin resultado!</h1>
                <p class="text-center">No se ha encontrado resultados para la búsqueda realizada con estos filtros</p>
            </div>
        </div>
        {%endif%}

    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            {% if prev >= 1 %}
            <a class="page-link" href="/search_specialization/{{prev}}">Previous</a>
            {% endif %}
        </li>

        {% for page in range(pages) %}
        {% if actual_page == loop.index %}
        <li class="page-item active"><a class="page-link"
                href="/search_specialization/{{loop.index}}">{{loop.index}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="/search_specialization/{{loop.index}}">{{loop.index}}</a></li>
        {% endif %}
        {% endfor%}

        <li class="page-item">
            {% if next <= pages %} <a class="page-link" href="/search_specialization/{{next}}">Next</a>
                {% endif %}
        </li>
    </ul>
</nav>

<script>
    let department_search = document.getElementById('dpDepartResult');
    let province_search = document.getElementById('dpProvinceResult');
    let district_search = document.getElementById('dpDistrictResult');

    department_search.onchange = function () {
        value_depart = department_search.value;
        if (value_depart != 0) {
            fetch('/selectProvince/' + value_depart).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '<option value="0" selected>Provincia</option>';
                    for (let province of data.provinces) {
                        optionHTML += '<option value="' + province.id + '">' + province.name_province + '</option>';
                    }
                    province_search.innerHTML = optionHTML;
                });
            });
        } else {
            cleanSelectProvinceSearch("S");
        }
        cleanSelectDistrictSearch("S");
    };

    province_search.onchange = function () {
        value_province = province_search.value;
        if (value_province != 0) {
            fetch('/selectDistrict/' + value_province).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '<option value="0" selected>Distrito</option>';
                    for (let district of data.districts) {
                        optionHTML += '<option value="' + district.id + '">' + district.name_district + '</option>';
                    }
                    district_search.innerHTML = optionHTML;
                });
            });
        } else {
            cleanSelectDistrictSearch("S");
        }
    };

    function cleanSelectProvinceSearch(dist) {
        select = document.getElementById('dpProvinceResult');
        select.innerHTML = '<option value="0" selected>Provincia</option>';
    };

    function cleanSelectDistrictSearch(dist) {
        select = document.getElementById('dpDistrictResult');
        select.innerHTML = '<option value="0" selected>Distrito</option>';
    };
</script>

{% endblock %}