<nav class="sidebar" id="sidebar">
    <div class="sidebar-content js-simplebar">
        <a href="/admin_panel" class="sidebar-brand">
            <span class="align-middle">BuscandoMédicos</span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">Pages</li>
            <li class="sidebar-item active">
                <a href="/admin_panel" class="sidebar-link">
                    <i class="align-middle" data-feather="sliders"></i>
                    <spam class="align-middle">Dashboard</spam>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="pages-profile.html" class="sidebar-link">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle">Profile</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="pages-settings.html" class="sidebar-link">
                    <i class="align-middle" data-feather="settings"></i>
                    <span class="align-middle">Settings</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="pages-invoice.html" class="sidebar-link">
                    <i class="align-middle" data-feather="credit-card"></i>
                    <span class="align-middle">Invoice</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="pages-blank.html" class="sidebar-link">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">Blank</span>
                </a>
            </li>

            <li class="sidebar-header">Tools & Components</li>
            <li class="sidebar-item">
                <a data-target="#ui" data-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="briefcase"></i>
                    <span class="align-middle">UI Elements</span>
                </a>
                <ul id="ui" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                    <li class="sidebar-item"><a href="ui-alerts.html" class="sidebar-link">Alerts</a></li>
                    <li class="sidebar-item"><a href="ui-buttons.html" class="sidebar-link">Buttons</a></li>
                    <li class="sidebar-item"><a href="ui-cards.html" class="sidebar-link">Cards</a></li>
                    <li class="sidebar-item"><a href="ui-general.html" class="sidebar-link">General</a></li>
                    <li class="sidebar-item"><a href="ui-grid.html" class="sidebar-link">Grid</a></li>
                    <li class="sidebar-item"><a href="ui-modals.html" class="sidebar-link">Modals</a></li>
                    <li class="sidebar-item"><a href="ui-typography.html" class="sidebar-link">Typography</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="icons-feather.html" class="sidebar-link">
                    <i class="align-middle" data-feather="coffee"></i>
                    <span class="align-middle">Icons</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a data-target="#forms" data-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="check-circle"></i>
                    <span class="align-middle">Forms</span>
                </a>
                <ul id="forms" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                    <li class="sidebar-item"><a href="forms-layouts.html" class="sidebar-link">Form Layouts</a>
                    </li>
                    <li class="sidebar-item"><a href="forms-basic-inputs.html" class="sidebar-link">Basic
                            Inputs</a></li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="tables-bootstrap.html" class="sidebar-link">
                    <i class="align-middle" data-feather="list"></i>
                    <span class="align-middle">Tables</span>
                </a>
            </li>
            <li class="sidebar-header">Plugins & Addons</li>
            <li class="sidebar-item">
                <a href="charts-chartjs.html" class="sidebar-link">
                    <i class="align-middle" data-feather="bar-chart-2"></i>
                    <span class="align-middle">Charts</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="maps-google.html" class="sidebar-link">
                    <i class="align-middle" data-feather="map"></i>
                    <span class="align-middle">Maps</span>
                </a>
            </li>
        </ul>

    </div>
</nav>